{% extends "base.html" %}

{% block content %}
    <h2>Twoje projekty</h2>
    <ul>
        {% for project in projects %}
            <li>
                <strong>{{ project.title }}</strong> (Kod: {{ project.code }})<br>
                Opis: {{ project.description }}<br>
                <strong>Wymagania:</strong><br>
                <ul>
                    {% for skill_requirement in project.skill_requirements.all %}
                        <li>
                            {{ skill_requirement.skill.name }}: {{ skill_requirement.required_count }} specjalistów
                        </li>
                    {% empty %}
                        Brak wymaganych umiejętności.
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_project' %}" class="btn btn-success">Utwórz nowy projekt</a>
{% endblock %}
